*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
SpeedWagon.Web.UI/appsettings.json
SpeedWagon.Web.UI/wwwroot/lib/
SpeedWagon.Web.UI/wwwroot/css/site.min.css
SpeedWagon.Web.UI/wwwroot/js/site.min.js
SpeedWagon.Web.UI/wwwroot/js/site.js
SpeedWagon.Web.UI/wwwroot/css/site.css
SpeedWagon.Client/node_modules/
SpeedWagon.Web.UI/AppData/speedwagon/search/
SpeedWagon.Web.UI/node_modules/
SpeedWagon.Web.UI/wwwroot/speedwagon/dist/
SpeedWagon.Web.UI/wwwroot/speedwagon/lib/

SpeedWagon.Web.UI/wwwroot/uploads/
SpeedWagon.Web.UI/AppData/speedwagon/reo.speedwagon.me/content/
SpeedWagon.Web.UI/wwwroot/theme/
SpeedWagon.Web.UI/wwwroot/webfonts/
SpeedWagon.Web.UI/wwwroot/speedwagon/webfonts/
