@model SpeedWagon.Web.Models.View.Editor.EditContentTypeViewModel
@{
    Layout = "~/Views/SpeedWagon/_Layout.cshtml";
}

<h2>Edit '@Model.ContentType.Name' Content Type</h2>

<h3>Add Property</h3>

<form asp-controller="SpeedWagonContentType" asp-action="Edit" method="post">

    <div class="form-group">
        <label for="name">Property Name</label>
        <input type="text" class="form-control" id="contentTypeEditorName" placeholder="Name" required="required" asp-for="ContentTypeEditor.Name">

    </div>

    <div class="form-group">
        <label for="type">Property Type</label>
        <select class="form-control" asp-items="Model.AvailableEditors" asp-for="ContentTypeEditor.Editor"></select>
    </div>

    <input type="hidden" asp-for="Name" value="@Model.Name" />

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<hr />
<h3>Properties</h3>
@if (Model.Editors != null && Model.Editors.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Editor</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model.Editors)
            {
                <tr>
                    <td>
                        @property.Name
                    </td>
                    <td>
                        @property.Editor
                    </td>
                    <td>
                        Edit Delete Up Down
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No properties on type</p>
}

