@model SpeedWagon.Web.Models.View.Content.ContentViewModel
@{
    Layout = "_Layout";
}

<h2>Content</h2>

@if(Model.Contents == null || !Model.Contents.Any())
{
    <p>No content defined</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                    </th>
            </tr>
        </thead>
        <tbody>
            @foreach(SpeedWagonContent content in Model.Contents)
            {
                <tr>
                    <td>
                        @content.Name
                    </td>
                    <td>
                        @content.Type
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Create</h3>

<form asp-controller="SpeedWagon" asp-action="Content" method="post">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter a name" asp-for="Name">       
    </div>
    
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" asp-items="Model.AvailableContentTypes" asp-for="Type"> </select>
    </div>


    <button type="submit" class="btn btn-primary">Create</button>

</form>

