@model SpeedWagon.Web.Models.View.Editor.ContentTypeViewModel
@{
    Layout = "_Layout";
}

<h2>Content Types</h2>

@if (!Model.ContentTypes.Any())
{
    <p>No types found</p>
}
else
{
    <ul>
        @foreach(SpeedWagonContent contentType in Model.ContentTypes)
        {
            <li>@contentType.Name [<a asp-controller="SpeedWagon" asp-action="EditContentType" asp-route-id="@contentType.Name">edit</a>]</li>
        }
    </ul>

}

<h3>Create</h3>

<form asp-controller="SpeedWagon" asp-action="ContentType" method="post">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" required="required" asp-for="Name">
        <small class="form-text text-muted">Title case - view Should be created in ~/Views/SpeedWagon/Editors</small>
    </div>



    <button type="submit" class="btn btn-primary">Create</button>

</form>