@model SpeedWagon.Web.Models.View.Editor.ContentTypeViewModel
@{
    Layout = "_Layout";
}

@section Scripts {
    @await Html.PartialAsync("_EditorScripts")
}

<h2>Content Types</h2>


<h3>Create Content Type</h3>

<form asp-controller="SpeedWagon" asp-action="ContentType" method="post">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" required="required" asp-for="Name">
        
    </div>



    <button type="submit" class="btn btn-primary">Create</button>

</form>

<hr />
<h3>Content Types</h3>
@if (!Model.ContentTypes.Any())
{
    <p>No types found</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creator</th>
                <th>Created</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SpeedWagonContent contentType in Model.ContentTypes)
            {
            <tr>
                <td>@contentType.Name</td>
                <td>@contentType.CreatorName</td>
                <td>@contentType.CreateDate</td>
                <td>[<a asp-controller="SpeedWagon" asp-action="EditContentType" asp-route-id="@contentType.Name">edit</a>]</td>
            </tr>
            }
        </tbody>
    </table>

}


<div class="alert alert-info" role="alert">
    // TODO - Add the notion of what is allowed under what (structure)
</div>

