@{
    Layout = "_Layout";
}

<h2>Content</h2>

<h3>Create</h3>

<form>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter a name">
        
    </div>
    
    <button type="submit" class="btn btn-primary">Create</button>

</form>

<h3>Items</h3>
