@model SpeedWagon.Web.Models.View.Editor.EditorViewModel
@{
    Layout = "_Layout";
}

@section Scripts {

    @await Html.PartialAsync("_EditorScripts")
}

<h2>Editors</h2>

<h3>Create</h3>

<form asp-controller="SpeedWagon" asp-action="Editor" method="post">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" required="required" asp-for="Name">

    </div>

    <button type="submit" class="btn btn-primary">Create</button>

</form>

<hr />

@if (!Model.Editors.Any())
{
    <p>No editors found</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creator</th>
                <th>Created</th>
                <th>View</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SpeedWagonContent editor in Model.Editors)
            {
                <tr>
                    <td>@editor.Name</td>
                    <td>@editor.CreatorName</td>
                    <td>@editor.CreateDate</td>
                    <td>@editor.Template</td>
                    <td>[delete]</td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="alert alert-info" role="alert">
    // TODO - add the ability to delete!
</div>