@{
    Layout = "_Layout";
}

<h2>Welcome</h2>

<p>Speedwagon is an experimental developer centric - exerimental CMS. Use the links in the header to play.</p>

<p><a class="btn btn-info" asp-controller="SpeedWagon" asp-action="Install">Setup some basic stuff</a></p>

<p>Goals and objectives are:</p>

<ul>
    <li>Database Free</li>
    <li>Non pescriptive</li>
    <li>Highly Scalable</li>
    <li>Simple content deployments</li>
</ul>

<p>See the <a href="https://github.com/darrenferguson/speedwagon">Github project</a> for more details.</p>
