@model SpeedWagonContent
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.Name</h1>

<ul>
    <li>@Model.CreateDate</li>
    <li>@Model.CreatorName</li>
</ul>

<p><a href="/Speedwagon">Go to speedwagon</a></p>