<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="SpeedWagonContent" asp-action="List">
                    <span data-feather="home"></span>
                    Content</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SpeedWagonEditor" asp-action="List">
                    <span data-feather="file"></span>
                    Editors
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SpeedWagonContentType" asp-action="List">
                    <span data-feather="shopping-cart"></span>
                    Content Types
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SpeedWagonSearch" asp-action="Index">
                    <span data-feather="users"></span>
                    Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span data-feather="bar-chart-2"></span>
                    Front End
                </a>
            </li>

        </ul>
        
       
    </div>
</nav>