@model SpeedWagonPage
<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("~/Views/Partials/Head.cshtml", Model)
</head>

<body>

    @await Html.PartialAsync("~/Views/Partials/Navigation.cshtml", Model)
    @await Html.PartialAsync("~/Views/Partials/Header.cshtml", Model)

    <div class="container">
        @RenderBody()
        @await Html.PartialAsync("~/Views/Partials/Posts.cshtml", Model)
    </div>

    @await Html.PartialAsync("~/Views/Partials/Footer.cshtml", Model)
    <script src="/theme/theme.min.js"></script>
</body>

</html>
