@model SpeedWagonPage
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">@Model.Content.GetValue("Title")</a>
        <a class="btn btn-primary" href="/speedwagon/index">Go to Speedwagon</a>
    </div>
</nav>