@using System.Web
@model SpeedWagon.Web.Models.View.Search.SearchViewModel
@{
    Layout = "~/Views/SpeedWagon/_Layout.cshtml";
}

<h2>Search</h2>

<a asp-controller="SpeedWagonSearch" asp-action="IndexAll"><span data-feather="database"></span> ReIndex All</a>

<hr/>

<form asp-controller="SpeedWagonSearch" asp-action="Search" method="post">

    <div class="form-group">
        <label for="term">Term</label>
        <input type="text" class="form-control" id="term" placeholder="Enter a term" asp-for="Term">
    </div>

    <button type="submit" class="btn btn-primary">Search</button>

</form>
   
@if (Model.Results != null && Model.Results.Any())
{
<ul>
    @foreach (var result in Model.Results)
    {
        if (result.Content != null)
        {
            <li>
                <a href="/SpeedWagonContent/Edit?url=@HttpUtility.UrlEncode(result.Content.RelativeUrl)">@result.Content.Name</a>
            </li>
        }
        else
        {
            <li>@result.Url</li>
        }
    }
</ul>
}




