@model SpeedWagonPage

@if (!string.IsNullOrEmpty(Model.Content.GetValue<string>("Content")))
{
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <p>
                <em>
                    Posted by
                    @Model.Content.CreatorName
                    on @Model.Content.CreateDate.ToString("d MMMM yyyy")
                </em>
            </p>

            @(Html.Raw(Model.Content.GetValue<string>("Content")))
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Content.GetValue<string>("Grid")))
{
    @(Html.Raw(Model.Content.GetValue<string>("Grid")))
}
