@model SpeedWagon.Web.Models.Content.ContentEditorModel

<div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" asp-for="Values[Model.PropertyName]" value="true"> True
    </label>
</div> 
<div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" asp-for="Values[Model.PropertyName]" value="false"> False
    </label>
</div>